################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuthentificationService/.vs/AuthentificationService
/AuthentificationService/obj
/AuthentificationService/bin/Debug/net9.0
